html,
body {
  width: 100%;
  min-height: 100%;
  background: #f4f5f5;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Microsoft YaHei", "PingFangSC-Regular", STHeiti,
    Helvetica, Arial, sans-serif !important;
}

a {
  text-decoration: none;
  color: #000;

}

a img {
  border: none;
}

i, em {
  font-style: normal;
}

input {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
}

input[placeholder] {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
}
*[role="button"] {
  outline: none;
}
::selection {
  background: #858585;
  color: #FFF;
}

::-moz-selection {
  background: #858585;
  color: #FFF;
}

.clearfix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }
}
.hide {
  display: none;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.flex {
  display: flex;
  &.flex-h {
    // 子元素水平排雷
    flex-direction: row;
  }
  &.flex-h-c {
    // 子元素水平居中
    justify-content: center;
  }
  &.flex-h-start {
    // 子元素靠前
    justify-content: flex-start;
  }
  &.flex-h-end {
    // 子元素靠后
    justify-content: flex-end;
  }
  &.flex-h-between {
    // 子元素两头靠边，中间等距
    justify-content: space-between;
  }
  &.flex-h-around {
    // 子元素周围的距离都是相等的
    justify-content: space-around;
  }
  &.flex-v {
    // 子元素垂直排列
    flex-direction: column;
  }
  &.flex-v-c {
    // 子元素垂直居中
    align-items: center;
  }
  &.flex-v-start {
    align-items: flex-start;
  }
  &.flex-v-end {
    align-items: flex-end;
  }
  &.flex-v-baseline {
    align-items: baseline;
  }
  &.flex-v-stretch {
    align-items: stretch;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
  .flex-1 {
    flex: 1;
  }
  &.flex-1 {
    flex: 1;
  }
}
.wh-all-fixed {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(234, 234, 234, .5);
}
#root {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  min-height: 100%;
}

